{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
<div class="mb-3">
    You are logged in as {{ app.user.userName }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% else %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mx-3 text-center container">
            You are logged in as {{ app.user.userName }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div id="main-wrapper" class="container cont ">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0 shadow-lg">
                    <div class="card-body p-0 ">
                        <div class="row no-gutters ">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h2 class="h4 font-weight-bold text-primary">Login</h2>
                                    </div>
                                    <h6 class="h5 mb-0">Just do Login.</h6>
                                    <p class="text-muted mt-2 mb-5">If You Really Want To Know, Look In The Login.</p>
                                    
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="inputPassword">Password</label>
                                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                        </div>

                                        <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                 >
                                 <button class="btn btn-lg btn-primary" type="submit">
                                    Login
                                </button>
                                <p class="text-muted text-center mt-3 mb-0">You don't have an account? <a href="{{ path('app_register')}}"" class="text-primary ml-1">Register</a></p>
                                </div>
                            </div>


                            <div class="col-lg-6 d-none d-lg-inline-block bg-primary">
                                <div class="account-block rounded-right bg-primary">
                                    <div class="overlay rounded-right bg-primary"></div>
                                    <div class="account-testimonial">
                                        <h1 class="text-white">Meal Planner</h1>
                                        <h3 class="lead text-white">Your own personal planner for your weekly meal schedule. <br> Make the best out of your diet!</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
               
                <!-- end row -->
            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>  
</form>
{% endif %}

{% endblock %}






 {# <div class=" mycont">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </div>
    #}