{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block title %}Hello{% endblock %}

{% block body %}

     <h1 class="text-center mt-4"><i>Yummi Recipes</i></h1>
    <div class="d-flex justify-content-center pt-2">
        <a class="btn btn-dark mx-3" href="{{ path('app_static') }}">All recipes</a>
        <a class="btn btn-dark mx-3" href="{{ path('app_static_filter_by_meal_type', {'mealType': 'vegan'}) }}">Vegan</a>
        <a class="btn btn-dark mx-3" href="{{ path('app_static_filter_by_meal_type', {'mealType': 'vegeterian'}) }}">Vegeterian</a>
        <a class="btn btn-dark mx-3" href="{{ path('app_static_filter_by_meal_type', {'mealType': 'meat'}) }}">Meat</a>
        <a class="btn btn-dark mx-3" href="{{ path('app_static_filter_by_meal_type', {'mealType': 'fish'}) }}">Fish</a>
    </div>
<div class="container ">
 <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
 {% for meal in meals %}
        <div class="card" style="border-radius: 0%; width: 650px;">
            <div class="thumbnail">
                <img class="left"  style="border-radius-50" src="{{ asset('images/products/' ~ meal.image) }}"/>
            </div>
            <div class="right">
                <h1>{{ meal.mealName }}</h1>
                   <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <div class="author">
                <img class="img" src="{{ asset('pictures/' ~ meal.fk_user.picture) }}"  alt="User Avatar">
                <p>{{ meal.fk_user}}</p>
                </div>
                <div class="separator"></div>
                <p><b>Calories:</b> {{ meal.calories}}</p>
                <p><b>Type:</b> {{ meal.mealType }}</p>
            </div>
             <div class="down mb-3">
                    <p><b>Ingredients:</b> {{ meal.ingredients }}</p> 
                     <a class="btn btn-primary" href="{{ path('app_static_show', {'id': meal.id}) }}">Show more</a>
            </div>
  {# <h5>12</h5>
  <h6>JANUARY</h6>
  <ul>
    <li><i class="fa fa-eye fa-2x"></i></li>
    <li><i class="fa fa-heart-o fa-2x"></i></li>
    <li><i class="fa fa-envelope-o fa-2x"></i></li>
    <li><i class="fa fa-share-alt fa-2x"></i></li>
  </ul>
  <div class="fab"><i class="fa fa-arrow-down fa-3x"></i></div> #}
   </div>
  {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
    </div>
</div>
{% endblock %}