{% extends 'base.html.twig' %}

{% block title %}Admin Users{% endblock %}

{% block body %}
    {# <h1>Admin Users</h1> #}
    <main class="container mt-5 mb-5">
        <div class="card shadow-lg border border-3">
            <div style="font-weight: bold" class="card-header">User Panel</div>
            <div class="card-block p-0">
                <table class="table table-bordered table-sm m-0">
                    <thead class="">
                    <tr>
                
                <td style="font-weight: bold">ID</td>
                <td style="font-weight: bold">Name</td>
                <td style="font-weight: bold">E-mail</td>
                <td></td>
                </tr>
            {% for user in users %}
                <tr>
                
                    
                    <td>{{ user.id }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.email }}</td>
                    <td class="p-2">
                        {% if user.isStatus %}
                            <a class="btn btn-danger " href="{{ path('admin_user_ban', {'id': user.id}) }}">Ban User</a>
                        {% else %}
                            <a class="btn btn-danger" href="{{ path('admin_user_unban', {'id': user.id}) }}">Restore User</a>
                        {% endif %}
                        
                    </td>
                    
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {# <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th> <!-- Добавили столбец для действий -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.userName }}</td> <!-- Поправили вывод имени пользователя -->
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.isStatus %}
                            <a class="btn btn-danger" href="{{ path('admin_user_ban', {'id': user.id}) }}">Ban</a>
                        {% else %}
                            <a class="btn btn-danger" href="{{ path('admin_user_unban', {'id': user.id}) }}">Unban</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}

{% block stylesheet %}

{% endblock %}